<div id="<%= dom_id service %>">
  <p>
    <strong>Nome:</strong>
    <%= service.nome %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= service.valor %>
  </p>

  <p>
    <strong>Tempo:</strong>
    <%= service.tempo %>
  </p>

</div>
