<div id="<%= dom_id admin %>">
  <p>
    <strong>Nome:</strong>
    <%= admin.nome %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= admin.telefone %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= admin.data_nascimento %>
  </p>

</div>
