<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Inicioatendimento:</strong>
    <%= agendamento.inicioAtendimento %>
  </p>

  <p>
    <strong>Fimatendimento:</strong>
    <%= agendamento.fimAtendimento %>
  </p>

</div>
